<div class="row">
  <div class="col-12">
    <h2 class="pb-2 border-bottom">Clientes</h2>
  </div>
  <div class="col-12">
    <h3 class="">Para cadastrar novo usuário, clique no botão abaixo:</h3>
    <div><a class="btn btn-sm btn-dark mb-3 ml-0" id="btnCadastrarCliente" routerLink="/clientes/cadastrar">+ Cadastrar Cliente</a></div>
    
    <h2 id="h2-tabela-clientes">Tabela de clientes</h2>
    <table class="table table-striped table-hover table-sm" id="tabela-clientes">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Observações</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td style="width: 10%">{{ cliente.id }}</td>
          <td style="width: 35%">{{ cliente.nome }}</td>
          <td style="width: 27%">{{ cliente.email }}</td>
          <td style="width: 28%">{{ cliente.observacoes }}</td>
          <td style="width: 15%">{{ cliente.ativo ? 'Ativo' : 'Desativado'}}</td>
          <td style="width: 15%">
            <div class="dropdown">
              <button
                class="btn btn-sm btn-outline-dark dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ações
              </button>
              <ul class="dropdown-menu" id="menu">
                <li><a class="dropdown-item" routerLink="/clientes/editar/{{ cliente.id }}" id="btnEditar">Editar</a></li>
                <li><button class="dropdown-item" (click)="excluir(cliente.id)" id="btnExcluir">Excluir </button></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>
