<div class="row" id="row-principal">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm" id="cards">
      <div class="card-header bg-dark text-white py-3">
        <h4 class="my-0 fw-normal">Clientes</h4>
      </div>
      <div class="card-body">
        <p>
          Nessa área, você pode cadastrar um novo cliente no sistema, editar ou excluir um já existente. Além disso, pode consultar
          a tabela geral de clientes.
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/clientes">Acesso aos clientes</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm" id="cards">
      <div class="card-header bg-dark text-white py-3">
        <h4 class="my-0 fw-normal">Contas</h4>
      </div>
      <div class="card-body">
        <p>
          Nessa área, você pode cadastrar uma nova conta com um dos clientes cadastrados no sistema, editar ou excluir uma já existente. Além disso, pode consultar a tabela geral das contas.
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/contas">Acesso às contas</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm" id="cards">
      <div class="card-header bg-dark text-white py-3">
        <h4 class="my-0 fw-normal">Extrato</h4>
      </div>
      <div class="card-body">
        <p>
          Nessa área, você consultar o extrato de uma das contas, usando
          a agência, o número da conta e as datas inicial e final para filtrar.
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/extrato">Acesso ao extrato</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm" id="cards">
      <div class="card-header bg-dark text-white py-3">
        <h4 class="my-0 fw-normal">Operações</h4>
      </div>
      <div class="card-body">
        <p id="p-operacoes">
          Nessa área, você pode realizar as operações de depósito, saque e transferência entre contas.
    
        </p>
        <a class="w-100 btn btn-lg btn-outline-dark" routerLink="/operacoes/deposito">Acesso às operações</a>
      </div>
    </div>
  </div>
</div>
