/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f7f7f7 !important;
}

.btn-dark:hover{
    background-color: #03973e !important;
    border-color: #03973e !important;
}
.btn-dark{
    width: 140px !important;
    height: auto !important;
    text-align: center;
}


html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
